PROJECT_NAME=predictive-maintenance-mlops

DATA_URL=https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv
RAW_DATA_PATH=data/raw/ai4i2020.csv
PROCESSED_DATA_PATH=data/processed/ai4i2020_processed.csv

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mlops
POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops

REDIS_HOST=localhost
REDIS_PORT=6379

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=predictive-maintenance

MODEL_NAME=predictive-maintenance-model