.venv/
__pycache__/
*.pyc

.env
.DS_Store

data/raw/*
data/processed/*
models/*
mlruns/
airflow/logs/
airflow/plugins/
airflow/dags/__pycache__/

!.gitkeep

# Feast generated registry
feature_repo/data/

# Generated Evidently reports
reports/evidently/*.html
reports/evidently/*.json

# Local MLflow file store
mlruns/
